.modald-contenido{
  padding: 10px 20px;
  margin: auto;
  position: relative;
}

.modald{
  background-color: rgba(0,0,0,.8);
  position:fixed;
  top:57px;
  right:0;
  bottom:0;
  left:0;
  overflow-y: scroll;
}